<ion-header>
  <ion-toolbar>
      <!-- <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons> -->
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content fullscreen padding scroll-y="false">
    <ion-slides autoplay="5000" loop="true" speed="3000">

      <ion-slide>
        <img src="../assets/img/g1.gif"/>
        <h2>Welcome to the <b>SMS</b></h2>
        <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
      </ion-slide>

      <ion-slide>
        <img src="../assets/img/g2.gif"/>
        <h2>What is SMS?</h2>
        <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
      </ion-slide>

      <ion-slide>
        <img src="../assets/img/g3.gif"/>
        <h2>What is SMS Gives You?</h2>
        <p><b>Ionic Pro</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
      </ion-slide>

      <ion-slide>
        <img src="../assets/img/g4.gif"/>
        <h2>Ready to Go?</h2>
        <ion-button fill="clear" routerLink="/auth">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>

    </ion-slides>
</ion-content>
