<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          PairBnB
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
          <ion-menu-toggle>
              <ion-item lines="none" routerLink="/welcome/tabs/home">
                <ion-icon name="business" slot="start"></ion-icon>
                <ion-label>Home</ion-label>
              </ion-item>
            </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/welcome/tabs/home/student-list">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Student Management</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/welcome/tabs/home/employee-list">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Employee Management</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/welcome/tabs/home/attendance-and-results">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Attendance & Results</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/welcome/tabs/home/fee">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Fee Management</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/welcome/tabs/home/send-sms">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Send SMS</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/places/tabs/offers/homeT">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Text Caster</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>

