   .card-title {
      font-size: 2.0em;
      font-weight: bold;
      color: rgb(0, 55, 132);
    }

    .card-subtitle {
        font-size: 1.0em;
        color: rgb(0, 55, 132);
      }

      .card {
        background-color: rgb(181, 221, 238);
      }